// Estilo geral

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
    width: 100vw;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.logo-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.borda{
    border-top: 2px solid #00ff08;
}
.btn-contato{
    button{
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 600;
        background-color: #00ff08;
        border: 0;
        border-radius: 30px;
        cursor: pointer;

        &:hover{
            box-shadow: 0px 0px 8px #00ff0868;
        }
    }
}


h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
    span{
        color: #00ff08;
    }
}
button:hover{
    box-shadow: 0 0 8px #00ff08;
    transform: scale(1.05);
}

a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

    &:hover{
        color: #fff;
        transform: scale(1.05);
    }
}
// Estilo do menu mobile
.menu-mobile{
    background-color: red;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 70%;

    nav{
        ul{
            text-align: right;
        }

        li{
            a{
                color: #fff;
                font-size: 20px;
                font-weight: 300;
                padding: 20px 4%;

                &:hover{
                    background-color: #00ff08;
                }
            }
        }
    }
}
// Estilo do cabeçalho

header{
    padding: 40px 4%;

    
    nav.menu-desktop{
        ul{
            list-style-type: none;

            li{
                display: inline-block;
                padding: 0 40px;
            }
        }
    }
    .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.btn-social{
    button{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        font-size: 22px;
        cursor: pointer;
        margin: 0 5px  ;
        background-color: #00ff08;
        transition: .2s;
    }
}

// Estilo do topo do site

section.topo-do-site {
    padding: 40px 4%;

    .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;
    }
    .interface{
        h1{
            color: #fff;
            font-size: 42px;
            line-height: 40px;
    
            span{
                color: #00ff08;
            }
        }
        p{
            color: #fff;
            margin: 40px 0;
        }
        img{
            position: relative;
            animation: flutuar 2s ease-in-out infinite alternate;
        }
    }
    
    
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

// Estilo das especialidades

section.especialidades{
    padding: 40px 4%;

    .flex{
        gap: 60px;
    }
    .especialidades-box{
        color: #fff;
        padding: 40px;
        border-radius: 20px;
        margin-top: 45px;
        transition: .2s;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 20px #ffffff78;
        }
        i{
            font-size: 70px;
            color: #00ff08;
        }
        h3{
            font-size: 28px;
            margin: 15px 0;
        }
    }
}

// Estilo do sobre

section.sobre{
    padding: 80px 4%;

    .flex{
        align-items: center;
        gap: 60px;
    }
    .txt-sobre{
        color: #fff;

        h2{
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 30px;

            span{
                color: #00ff08;
                display: block;
            }
        }
        p{
            margin: 20px 0;
            text-align: justify;
        }
    }
}

// Estilo do PORTFÓLIO

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

    .flex{
        justify-content: space-around;
    }
    .img-portfolio{
        width: 360px;
        height: 460px;
        background-size: cover;
        background-position: 50%;
        transition: 2s;
        cursor: pointer;
        border-radius: 40px;
        position: relative;

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 600;
            background-color: #000000b8;
            color: #fff;
            opacity: 0;
            transition: .5s;
            &:hover{
                opacity: 1;
            }
        }
        &:hover{
            scale: 1.105;
        }
    }
}

// Estilo do formulário de contato

section.formulario{
    padding: 80px 4%;

    form{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        input, textarea, button{
            width: 100%;
            background-color: #242424;
            border: 0;
            outline: 0;
            padding: 20px 15px;
            border-radius: 15px;
            color: #fff;
            font-size: 18px;
        }
        textarea{
            resize: none;
            max-height: 250px;
        }
        .btn-enviar{
            margin-top: 20px;
            text-align: center;

            button{
                width: 120px;
                background-color: #00ff08;
                color: #000;
                font-weight: 700;
                cursor: pointer;
            }
        }

    }
}

// Estilo do rodapé

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

    .flex{
        justify-content: space-between;
    }
    .line-footer{
        padding: 20px 0;
        p{
            

            i{
                color: #00ff08;
                font-size: 22px;
            }
            a{
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1020px){

    // CLASSES GERAIS
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }
    .topo-do-site{
        .flex{
            flex-direction: column-reverse;
        }
    }
    // Cabeçalho
    .menu-desktop, .btn-contato{
        display: none;
    }

    // TOPO DO SITE

    section.topo-do-site{
        padding: 20px 8%;

        .flex{
            gap: 40px;
        }
        .img-topo-do-site{
            img{
                width: 100%;
            }
        }
        h1{
            color: #fff;
            font-size: 30px;
        }
    }

    // ESPECIALIDADES

    section.especialidades{
        padding: 40px 8%;
    }

    // SOBRE

    section.sobre{
        padding: 80px 8%;

        .txt-sobre{
            h2{
                font-size: 34px;
                line-height: 35px;
                text-align: center;
            }
        }
        .btn-social{
            text-align: center;
        }
        .img-sobre{
            img{
                width: 100%;
            }
        }
    }
    // PORTFOLIO

    section.portfolio{
        padding: 80px 8%;

        .img-portfolio{
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
        }
        .flex{
            gap: 60px;
        }
    }

    // RODAPÉ

    footer{
        .flex{
            flex-direction: column;
            gap: 30px;
        }
        .line-footer{
            text-align: center;
        }
    }
}